<extend name="Common:edit"/>
<block name="css">
    <link href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
    <link href="__UPLOADIFY__/uploadify.css" rel="stylesheet" type="text/css" />
</block>
<block name="form">
    <div id="tabbar-div">
        <p>
            <span class="tab-front">通用信息</span>
            <span class="tab-back">商品描述</span>
            <span class="tab-back">会员价格</span>
            <span class="tab-back">商品属性</span>
            <span class="tab-back">商品相册</span>
            <span class="tab-back">关联文章</span>
        </p>
    </div>
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"> <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">商品分类</td>
                <td>
                    <input type="hidden" name="goods_category_id" class="goods_category_id" maxlength="60" value="{$goods_category_id}">
                    <input type="text" disabled="disabled" name="goods_category_text" class="goods_category_text" maxlength="60" value="请选择下面的分类">
                    <span   class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <ul id="treeDemo" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">品牌</td>
                <td>
                    {:arr2select('brand_id',$brands,$brand_id)}
                    <span   class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">供货商</td>
                <td>
                    {:arr2select('supplier_id',$suppliers,$supplier_id)}
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">本店价格</td>
                <td>
                    <input type="text" name="shop_price" maxlength="60" value="{$shop_price}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">市场价格</td>
                <td>
                    <input type="text" name="market_price" maxlength="60" value="{$market_price}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">库存</td>
                <td>
                    <input type="text" name="stock" maxlength="60" value="{$stock}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">是否上架</td>
                <td>
                    <input type="radio" class="is_on_sale" value="1" name="is_on_sale"/>是
                    <input type="radio" class="is_on_sale"  value="0" name="is_on_sale"/>否
                    <span  class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">商品状态</td>
                <td>
                    <input type="checkbox" class="goods_status" name="goods_status[]" value="1">精品
                    <input type="checkbox" class="goods_status" name="goods_status[]" value="2">新品
                    <input type="checkbox" class="goods_status" name="goods_status[]" value="4">热销
                    <span   class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">关键字</td>
                <td>
                    <input type="text" name="keyword" maxlength="60" value="{$keyword}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">LOGO</td>
                <td>
                    <input type="file" name="upload-logo" id="upload-logo" maxlength="60">
                    <input type="hidden" class="logo" name="logo" value="{$logo}">
                    <div class="upload-img-box" style="display: {$logo?'block':'none'}">
                        <div class="upload-pre-item">
                            <img src="__GOODS__/{$logo}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" class="status" value="1" name="status"/>是
                    <input type="radio" class="status"  value="0" name="status"/>否 <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%" style="display: none">
            <tr>
                <td class="label">商品描述</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%"  style="display: none">
            <tr>
                <td class="label">会员价格</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%"  style="display: none">
            <tr>
                <td class="label">商品属性</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%"  style="display: none">
            <tr>
                <td class="label">商品相册</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%"  style="display: none">
            <tr>
                <td class="label">关联文章</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <input type="hidden" name="id" value="{$id}"/>
            <input type="submit" class="button" value=" 确定 "/>
            <input type="reset" class="button" value=" 重置 "/>
        </div>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.is_on_sale').val([1]);

            /////////////////////////////切换特效   开始////////////////////////////////////////////
            //>>1.在所有的span上加上点击事件
            $('#tabbar-div span').click(function () {
                //>>2.先改变所有的span的class='tab-back'
                $('#tabbar-div span').removeClass('tab-front').addClass('tab-back');
                //>>3.再改变当前点击的span
                $(this).removeClass('tab-back').addClass('tab-front');
                //>>4.找到from中的所有table新让全部隐藏, 然后再将对应的显示出来
                $('form>table').hide();
                var index = $(this).index();//代表点击的第几个span
                $('form>table').eq(index).show();
            });
            /////////////////////////////切换特效   结束////////////////////////////////////////////


            /////////////////////////////商品分类树   开始////////////////////////////////////////////
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback: {
                    beforeClick: function (treeId, treeNode, clickFlag) {
                        if (treeNode.isParent) {
                            layer.msg('必须选择最小分类', {
                                offset: 0,
                                icon: 0,
                            });
                        }

                        return !treeNode.isParent;  //如果该分类有子节点, 就返回false, false表示不选中
                    },
                    onClick: function (event, treeId, treeNode) {
                        $('.goods_category_id').val(treeNode.id);
                        $('.goods_category_text').val(treeNode.name);
                    }
                }
            };
            //>>2.准备树中需要的数据
            var zNodes = {$nodes};
            //>>3.将id为treeDemo的ul变为一个树, 返回值就是该树的对象
            var treeObject = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            <notempty  name='id'>
                    //下面的代码是编辑时要执行的, 选中商品分类
                    var goods_category_id = {$goods_category_id};
                    var node  = treeObject.getNodeByParam('id',goods_category_id);
                    treeObject.selectNode(node);
                    //并且将选中的节点的id,name设置
                    $('.goods_category_id').val(node.id);
                    $('.goods_category_text').val(node.name);
                <else/>
                 //>>4.使用对象中的方法让其展开
                 treeObject.expandAll(true);
            </notempty>

            /////////////////////////////商品分类树   结束////////////////////////////////////////////

            /////////////////////////////商品LOOG的上传插件    开始////////////////////////////////////////////
            window.setTimeout(function(){                 //让上传表单10毫秒之后再加载..
                $("#upload-logo").uploadify({
                    height        : 25,    //指定删除插件的高和宽
                    width         : 145,
                    swf           : '__UPLOADIFY__/uploadify.swf',  //指定swf的地址
                    uploader      : '{:U("Uploader/index")}',   //在服务器上处理上传的代码
                    'buttonText' : '选择图片',   //上传按钮上面的文字
                    'fileSizeLimit' : '100KB',  //限制大小
//            'fileObjName' : 'the_files',  //上传文件时, name的值 ,  默认值为  Filedata     $_FIELS['Filedata']
                    'formData'      : {'dir' : 'goods'},   //通过post方式传递的额外参数 ,, dir表示上传到又拍云的空间  itsource_ $dir的值
                    'multi'    : true,   //是否支持多文件上传
                    'onUploadSuccess' : function(file, data, response) {   //上传成功时执行的方法
                        $('.logo').val(data);
                        $('.upload-img-box').show();
                        $('.upload-img-box img').attr('src',"__GOODS__/"+data);
                    },
                    'onUploadError' : function(file, errorCode, errorMsg, errorString) {   //上传失败时该方法执行
                        alert('该文件上传失败!错误信息为:' + errorString);
                    }
                });
            },10)
            /////////////////////////////商品LOOG的上传插件   结束////////////////////////////////////////////

            /////////////////////////////编辑时回显商品状态  开始////////////////////////////////////////////
            <notempty name='id'>
               var goods_status = {$goods_status};  //该值是一个整数
               var goods_status_values = new Array();
               if((goods_status & 1) > 0){
                   goods_status_values.push(1);
               }
               if((goods_status & 2) > 0){
                   goods_status_values.push(2);
               }
               if((goods_status & 4) > 0){
                   goods_status_values.push(4);
               }
              $('.goods_status').val(goods_status_values);
             </notempty>
            /////////////////////////////编辑时回显商品状态   结束////////////////////////////////////////////

        })
    </script>
</block>